.body {
  background-image: url(http://i.cdn.turner.com/drp/nba/lakers/sites/default/files/new_backgroundpattern.jpg);
}

.container {
  padding-top: 10%;
  text-align: center;
}

.element-invisible {
  color: transparent;
}

.grey {
  background-color: #333;
}

#logo {

}

.catcher {
  padding-top: 8%;
  color: rgb(255, 172, 42);
  text-transform: uppercase;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #ccc;
  font-size: 2em;
  font-family: Helvetica;
  font-weight: bold;
}

#top {
  width: 50%;
  height: auto;
  border: solid 2px;
  text-shadow: white 0px 0px 2px;
  font-size: 16px;
  background-size: 150px;
}

.topAd {
/*  width: 20%;
  height: auto;
  border: solid 2px;
  text-shadow: white 0px 0px 2px;
  background-size: 40%;*/
}

.bottomAd {
  width: 30%;
  height: auto;
  border: solid 2px;
  text-shadow: white 0px 0px 2px;
  font-size: 150px;
  background-size: 150px;
}

#large {
  width: 90%;
  height: auto;
  border: solid 2px;
  border-color: black;
  text-shadow: white 0px 0px 2px;
  font-size: 16px;
  background-size: 150px;
}

#test {
  width: 300px;
  height: auto;
  border: solid 2px;
  text-shadow: white 0px 0px 2px;
  font-size: 16px;
  background-size: 150px;
}

/*#content {

 background-size: cover;
}*/

.content {
  /*background-size: cover;
  background-color: green;*/
  /*width: 800px;
  height: 800px;
  border: solid 2px;
  text-shadow: white 0px 0px 2px;
  font-size: 16px;
  background-size: 150px;*/
}
